cache/*
log/*
web/uploads/*
config/databases.yml
config/propel.ini
data/sql
lib/filter/doctrine/base/Base*
lib/form/doctrine/base/Base*
lib/model/doctrine/base/Base*
lib/model/om/*
lib/model/map/*
lib/model/doctrine/base*
nbproject/
lib/filter/doctrine/base/*
lib/form/doctrine/base/*
lib/model/doctrine/base/*
config/databases.yml
config/ProjectConfiguration.class.php
.DS_Store
web/sfDoctrinePlugin
log/*.log
config/databases.yml
config/ProjectConfiguration.class.php
output/*
output
