.ui-widget{
    font-size: 12px ! important;
}
.ui-multiselect-checkboxes{
    min-height: 100px;
}
.fancybox-heading{

    padding: 5px 10px;
}
.login-field{
    margin-left: 10px;
} 

.extended_form tr th {
    min-width:220px;
    vertical-align: top;
}

.normal_form tr th {
    vertical-align: top;
}
/*#asset-group-form{
    border: 1px solid black;
    padding: 5px;
}*/
.general{
    width: 50%;
}
.general th{
    background-color: #DADADA;
}
form input[type="checkbox"]{
    width: auto;
}
form input[type="radio"]{
    width: auto;
}
#format_specific th{
    background-color: #DADADA;
    width: 215px;
}
/*#dat-table{
    width: 65%;
}*/
#sf_admin_list_th_actions{
    display: none;
}
#sf_admin_content{
    margin-top: 10px;
}
#asset-group-div{
   border: 1px solid black;
    padding: 5px; 
}