.ui-widget{
    font-size: 12px ! important;
}
.ui-multiselect-checkboxes{
    min-height: 100px;
}
.fancybox-heading{

    padding: 5px 10px;
}
.login-field{
    margin-left: 10px;
} 

.extended_form tr th {
    min-width:220px;
    vertical-align: top;
}

.normal_form tr th {
    vertical-align: top;
}
/*#asset-group-form{
    border: 1px solid black;
    padding: 5px;
}*/

.general th{
    background-color: #DADADA;
    width: 215px;
}
form input[type="checkbox"]{
    width: auto;
}
form input[type="radio"]{
    width: auto;
}
#format_specific th{
    background-color: #DADADA;
    width: 215px;
}
/*#dat-table{
    width: 65%;
}*/
#sf_admin_list_th_actions{
    display: none;
}
#sf_admin_content{
    margin-top: 10px;
}
#asset-group-div{
   border: 1px solid black;
    padding: 5px; 
}
div.growlUI { background: url(/images/warning.png) no-repeat 10px 10px }
div.growlUI h1, div.growlUI h2 {
	color: white; padding: 5px 5px 5px 75px; text-align: left
}
div.growlUI h1{
    font-size: 18px;
    padding-bottom: 0px;
}
div.growlUI h2 {
    font-size: 14px;
}
.warning{
    font-size: 0.625rem;
    color: #e78f08;
}